:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --red: #FB565A;
  --red-darker: #E74246;
  --red-darkest: #D7373B;
  --green: #00CA74;
  --green-darker: #00BC6C;
  --green-darkest: #00AA62;
  --yellow: #EFC849;
  --yellow-darker: #EAB534;
  --yellow-darkest: #E5A722;
  --gray: #EEEEEE;
  --gray-darker: #DFDFDF;
  --gray-darkest: #D5D5D5;
  --gray-dark: #666666;
  --socials: #E1E1E1;
  --modal-border: #D7DCDE;
  --modal-text: #444444;
  --icon-down-up: #A6A6A6;
  --product-item-header: #4D4D4D;
  --pagination-border: #DBDBDB;
  --toggle: #ABABAB;
  --price-input: #283136;
  --parameters-grid: #4D4D4D;


}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

body {
  width: 1440px;
  min-width: 960px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Main Page */
/* Header */

.header-wrapper {
  width: 1440px;
  height: 115px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 49px;
  margin: 0;
  box-sizing: border-box;
}

.logo-main:hover path,
.logo-main:focus path {
  opacity: 0.7;
}

.logo-main:active path {
  opacity: 0.3;
}

.site-navigation li {
  list-style-type: none;
  margin: 0;
  padding-right: 45px;
}

.site-navigation li:last-child {
  padding-right: 0;
}

.site-navigation-list a[href]{
  text-decoration: none;
  color: var(--basic-black);
}

.site-navigation-list {
  width: 436px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 285px;
  padding-left: 202px;
  padding-top: 15px;
  margin: 0;
}

.cart a {
  text-decoration: none;
  color: var(--basic-black);
}

.site-navigation a[href]:hover,
.site-navigation a[href]:focus,
.cart a:hover,
.cart a:focus {
  color: var(--red);
}

.site-navigation a[href]:active,
.cart a[href]:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.cart {
  position: relative;
  padding-top: 15px;
}

.cart::before {
  content: "";
  background-image: url(img/icon-cart.svg);
  background-position: 0 0;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -39px;
  top: 21px;
}

/* Footer */

.location {
  width: 1440px;
  height: 416px;
  background: url(img/map.jpg) no-repeat;
  background-position: 0 0;
  background-size: cover;
  padding-top: 54px;
  padding-left: 140px;
  box-sizing: border-box;
}

.adress {
  width: 319px;
  height: 308px;
  background-color:var(--basic-white);
  margin: 0;
  padding: 50px 48px;
  box-sizing: border-box;
  text-align: left;
}

.adress h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 23px;
}

.adress p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--gray-dark);
  margin: 0;
  padding-bottom: 16px;
}

.adress p:last-child {
  padding-bottom: 37px;
}


.adress a {
  text-decoration: none;
  color: var(--gray-dark);
}

.contact-us {
  width: 219px;
  height: 50px;
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: var(--red);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


.main-footer {
  width: 1440px;
  padding-top: 68px;
  padding-bottom: 68px;
  padding-left: 140px;
  padding-right: 240px;
  display: grid;
  grid-template-columns: 261px 1fr;
  box-sizing: border-box;
}

.socials-list {
  display: flex;
  justify-content: space-between;
  width: 261px;
  margin: 0;
  padding: 0;
}

.socials-list li {
  width: 81px;
  height: 81px;
  list-style: none;
  background-color: var(--socials);
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
  border: none;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-list li:hover,
.socials-list li:focus {
  background-color: var(--red-darker);
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.socials-list li:active {             /* Как добавить опасити на свг? */
  background-color: var(--red-darkest);
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.footer-caption {
  margin: 0;
  padding-left: 140px;
}

.footer-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 10px;
}

.footer-description {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* Modal */

.modal {
  width: 960px;
  height: 590px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  background-color: var(--basic-white);
  margin: 0;
  padding-top: 63px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 84px;
  box-sizing: border-box;
  position: relative;
}

.modal h2 {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 37px;
}

.close-cross {
  position: absolute;
  right: 90px;
  top: 78px;
  opacity: 0.3;
  cursor: pointer;
}

.close-cross:hover,
.close-cross:focus {
  opacity: 1;
}

.close-cross:active {
  opacity: 0.1;
}

.modal-data {
  width: 760px;
  display: flex;
  justify-content: space-between;
}

.modal-name,
.modal-email {
  width: 360px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-bottom: 34px;
}

.modal-name label,
.modal-email label,
.modal-message label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 9px;
  cursor: pointer;
}

.modal-name input,
.modal-email input {
  width: 360px;
  height: 50px;
  border: 2px solid var(--modal-border);
  border-radius: 2px;
  color: var(--modal-text);
  opacity: 0.5;
  padding: 16px 16px;
  box-sizing: border-box;
  cursor: pointer;
}

.modal-message {
  width: 760px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-bottom: 47px;
}

.modal-message input {
  width: 760px;
  height: 118px;
  border: 2px solid var(--modal-border);
  border-radius: 2px;
  color: var(--modal-text);
  opacity: 0.5;
  padding-left: 16px;
  box-sizing: border-box;
  cursor: pointer;
}

.button-send {
  width: 259px;
  height: 50px;
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: var(--red);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.modal input:hover {
  border: 2px solid var(--modal-border);
  border-radius: 2px;
}

/* Main Page: Content */
/* Slider */

.slider-wrapper {
  width: 1440px;
  height: 431px;
  background-color: var(--gray);
  margin-bottom: 80px;
  padding: 0;
}

.slider {
  width: 1157px;
  height: 431px;
  margin-left: 140px;
  margin-right: 143px;
  padding: 0;
  box-sizing: border-box;
  background-image: url(img/slider-background.png);
  background-position: 397px 0;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.slider::before {
  content: url(img/slider-switch.png);
  width: 88px;
  height: 18px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 318px;
}

.slider-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 25px;
  padding-top: 78px;
}

.slider-description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 38px;
}

.button-slider-more {
  width: 240px;
  height: 50px;
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: var(--red);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.button-slider-more:hover,
.button-slider-more:focus {
  background-color: var(--red-darker);
}

.button-slider-more:active {
  background-color: var(--red-darkest);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

/* Offers */

.offers {
  width: 1100px;
  min-height: 347px;
  margin-left: 140px;
  margin-right: 200px;
  margin-bottom: 80px;
  padding: 0;
  box-sizing: border-box;
}

.offers ul {
  margin: 0;
  padding: 0;
}

.offers-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.offers-list li {
  list-style: none;
}

.offers-item img {
  width: 300px;
  height: 146px;
  padding-bottom: 19px;
}

.offers-description h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 16px;
}

.offers-description p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 32px;
}

.button-offers-order {
  width: 160px;
  height: 50px;
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.button-red {
  background-color: var(--red);
  border: none;
  border-radius: 3px;
}

.button-red:hover,
.button-red:focus {
  background-color: var(--red-darker);
}

.button-red:active {
  background-color: var(--red-darkest);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

.button-green {
  background-color: var(--green);
  border: none;
  border-radius: 3px;
}

.button-green:hover,
.button-green:focus {
  background-color: var(--green-darker);
}

.button-green:active {
  background-color: var(--green-darkest);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

.button-yellow {
  background-color: var(--yellow);
  border: none;
  border-radius: 3px;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: var(--yellow-darker);
}

.button-yellow:active {
  background-color: var(--yellow-darkest);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

/* Site Description */

.site-description {
  width: 1174px;
  min-height: 413px;
  padding-top: 39px;
  margin-left: 140px;
  margin-right: 129px;
  margin-bottom: 73px;
  box-sizing: border-box;
  border-top: 2px solid var(--gray);
  display: grid;
  grid-template-columns: 800px 1fr;
}

.site-description-left h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  padding-top: 36px;
  padding-bottom: 32px;
}

.site-description-left p:first-of-type{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 40px;
}

.site-description-left p:nth-of-type(2) {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 23px;
}

.site-description-list {
  padding: 0;
  margin: 0;
}

.site-description-list li {
  list-style: none;
  margin: 0;
  padding-bottom: 16px;
  padding-top: 0px;
}

.site-description-right img {
  width: 360px;
  height: 208px;
  margin-bottom: 37px;
  padding: 0;
}

.site-description-right p:only-of-type {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 31px;
}

.advantages-list {
  padding: 0;
  margin: 0;
  width: 370px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.advantages-list li {
  list-style: none;

}

.advantages-item {
  display: flex;
  flex-direction: column;
}

.advantages-item p:first-of-type {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 10px
}

.advantages-item p:nth-of-type(2) {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* Clients */

.clients {
  width: 1159px;
  height: 184px;
  margin-bottom: 80px;
  margin-left: 140px;
  margin-right: 141px;
  border-top: 2px solid var(--gray);
  border-bottom: 2px solid var(--gray);
  display: flex;
}

.clients-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1159px;
}

.clients-list li {
  list-style: none;
  opacity: 0.2;
}

.clients-list li:hover,
.clients-list li:focus {
  opacity: 1;
}

.clients-list li:active {
  opacity: 0.1;
}

/* Catalog Page */
/* Container Caption */

.container-caption {
  width: 1440px;
  height: 235px;
  margin: 0;
  padding-left: 359px;
  padding-right: 356px;
  padding-top: 78px;
  padding-bottom: 108px;
  box-sizing: border-box;
  background-color: var(--gray);
}

.container-caption h2 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

/* Container Content */

.container-content {
  width: 1160px;
  margin: 0;
  padding-left: 140px;
  padding-right: 140px;
  display: flex;
  justify-content: space-between;
}

/* Parameters */

.parameters {
  width: 260px;
  height: 780px;
  padding-top: 55px;
  margin: 0;
}

.parameters-price {
  margin-bottom: 54px;
}

.parameters form {
  width: 100%;
  height: 780px;
}

.price h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 48px;
}

.grid h3,
.features h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 16px;
}

.range-slider {
  width: 260px;
  height: 80px;
  border-radius: 3px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-left: 23px;
  box-sizing: border-box;
  background-color: var(--gray);
}

.scale {
  width: 205px;
  height: 2px;
  background-color: var(--modal-border);
}


.bar {
  width: 70%;
  height: 100%;
  background-color: var(--green);
  position: relative;
}

.bar::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--icon-down-up);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  position: absolute;
  bottom: -9px;
}

.bar::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--icon-down-up);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  position: absolute;
  bottom: -9px;
  right: -5px;
}

.price-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-range label {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--price-input);
  margin: 0;
  padding-right: 12px;
}

.price-range input {
  width: 80px;
  height: 38px;
  border: none;
  background-color: var(--gray);
  border-radius: 3px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}

.grid {
  margin-bottom: 47px;
}

.grid p,
.features p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding-left: 36px;
  padding-bottom: 20px;
  margin: 0;
}

.grid p:last-child,
.features p:last-child {
  padding-bottom: 0;
  margin: 0;
}

.grid label {
  position: relative;
}

.grid label::before {
  content: "";
  width: 17px;
  height: 17px;
  background-color: var(--basic-white);
  border: 4px solid rgba(77,77,77,0.3);
  border-radius: 50%;
  position: absolute;
  left: -38px;
  top: -3px;
}

.parameter-grid:checked  + label::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: rgba(77,77,77,0.3);
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 5px;
}


.features {
  margin-bottom: 48px;
}


.features label {
  position: relative;
}

.parameter-features + label::before {
  content: url(img/icon-checkbox.svg);
  width: 25px;
  height: 23px;
  left: -37px;
  top: -2px;
  border: none;
  position: absolute;
}

.parameter-features:checked + label::before {
  content: url(img/icon-check.svg);
  width: 25px;
  height: 23px;
  left: -37px;
  top: -2px;
  border: none;
  position: absolute;
}

.parameters button {
  width: 260px;
  height: 50px;
  color: var(--basic-black);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border-radius: 3px;
  border: none;
  background-color: var(--gray);
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.parameters button:hover,
.parameters button:focus {
  background-color: var(--gray-darker);
}

.parameters button:active {
  background-color: var(--gray-darkest);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


/* Catalog Content */
/* Sorting */

.catalog-content {
  width: 760px;
  margin: 0;
  padding-top: 59px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 48px;
  margin: 0;
}

.sorting h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-right: ;
}

.sorting-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  justify-self: end;
}

.sorting-list a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
  margin: 0;
  padding-right: 25px;
}

.sorting-list a[href] {
  opacity: 0.3;
}

.sorting-list a[href]:hover,
.sorting-list a[href]:focus {
  opacity: 0.6;
}

.sorting-list a[href]:active {
  opacity: 1;
}

.sorting-list:last-child {
  padding-right: 0;
}

.icons {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}


.icon-down {
  padding-right: 18px;
}

.icon-up {
  opacity: 0.7;  /* Сделала  opacity больше. Если как по макету (0.2), то вообще не видно */
}

.icon-down:hover path,
.icon-down:focus path,
.icon-up:hover path,
.icon-up:focus path {
  fill: var(--icon-down-up);
}

.icon-down:active path,
.icon-up:active path {
  fill: var(--basic-black);
}


/* Products */

.products-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.products-list li {
  list-style: none;
  margin: 0;
  padding-bottom: 30px;
  position: relative;
}

.product-item-description {
  width: 360px;
  height: 231px;
  background-color: var(--gray);
  margin: 0;
  padding-left: 52px;
  padding-right: 53px;
  padding-top: 26px;
  padding-bottom: 44px;
  box-sizing: border-box;
  position: absolute;
  bottom: 36px;
  display: none;
  text-align: center;
}

.products-item:hover .product-item-description,
.products-item:focus .product-item-description {
  display: initial;
}

.products-item:hover .product-item-header path,   /* Не сработало */
.products-item:focus .product-item-header  path {
  fill: var(--product-item-header);
}

.product-item-description h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
  padding-bottom: 12px;
}

.product-item-description a {
  text-decoration: none;
  color: var(--basic-black);
}

.product-item-description a:hover,
.product-item-description a:focus {
  color: var(--red);
}

.product-item-description a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.product-item-description p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--gray-dark);
  margin: 0;
  padding-bottom: 32px;
}

.product-item-description button {
  width: 200px;
  height: 50px;
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border-radius: 3px;
  border: none;
  background-color: var(--red);
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.product-item-description button:hover,
.product-item-description button:focus {
  background-color: var(--red-darker);
}

.product-item-description button:active {
  background-color: var(--red-darkest);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Pagination */

.pagination-list {
  width: 100%;
  height: 50px;
  padding: 0;
  margin-top: 45px;
  margin-bottom: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.pagination-list li {
  list-style: none;
  padding: 0;
  margin-right: 11px;
  ont-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.pagination-list a {
  text-decoration: none;
  color: var(--basic-black);
}

.pagination-list .pagination-item-current {  /* Почему не работает более узкий селектор? */
  width: 50px;
  height: 50px;
  border: 3px solid var(--pagination-border);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item {
  width: 50px;
  height: 50px;
  background-color: var(--gray);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item-next {
  padding: 15px 77px;
  box-sizing: border-box;
  background-color: var(--gray);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

